{% extends "layout.html" %}

{% block content %}


 <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <p class="centrado">
        <img src="https://lh3.googleusercontent.com/Ttg1Q8aZtuI2qaK54Qv925KwvxE0FJGh7SKb3xeVQaNYTtPDAuXYDrO2b6Ct3LYm-xEIttz_ljF7kh8=w918-h977" height="300" width="300"> 
        </p>

        <h1 class="display-5 fw-bold">Cristales líquidos en tus células y en tu celular</h1>
        <p class="col-md-8 fs-4"> Liquid crystals (LCs) can serve as sensitive reporters of interfacial events, and this property has been used for sensing of synthetic or biological toxins. Here it is demonstrated that LCs can distinguish distinct molecular motifs and exhibit a specifi c response to beta-sheet structures.</p>
      </div>
    </div>

{% endblock %}